{% extends "base_generic.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<!-- object_list is querryset data passed by request, because if we change context using generic it's better to use official names-->
{% if object_list %}
    <ul>
    {% for question in object_list %}
<!--        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
<!--        dzięki rozwiązaniu ponizej nie uzywamy URL bezpośrednio tylko z nazwy z polls\urls.py i nie musimy zmieniac templateu :)))) -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
    <p>Test of second text.</p>
{% endif %}

<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}
